pkgbase = listen
	pkgdesc = Minimal audio transcription tool - 100% on-premise
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/gmoqa/listen
	arch = any
	license = MIT
	makedepends = python-pip
	depends = python
	depends = python-numpy
	depends = python-sounddevice
	depends = portaudio
	depends = ffmpeg
	source = listen-1.1.1.tar.gz::https://github.com/gmoqa/listen/archive/refs/tags/v1.1.1.tar.gz
	sha256sums = 82cdb6aad00325f7d770a9aed904bdcea0056c53de44e29a5861e76e0926a182

pkgname = listen
